/* ListRegisters.module.css */

.title-details {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#listContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
}

#listContainer div {
    background-color: var(--form-input-bg);
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px var(--card-shadow);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    perspective: 1000px;
}

#listContainer div:hover {
    background-color: var(--button-hover-background);
    border: 1px solid #7f8c8d;
    color: var(--button-text-color);
    transform: rotateY(10deg) scale(1.05);
    box-shadow: 0 5px 15px var(--card-shadow);
}

#listContainer div:active {
    transform: rotateY(-10deg) scale(0.95);
    box-shadow: 0 2px 5px var(--card-shadow);
}

/* Responsividade para Listagem */
@media (max-width: 600px) {
    .title-details {
        font-size: 27px;
    }

    #listContainer div {
        font-size: 16px;
    }
}

#export {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .export-message {
        align-items: center;
        justify-content: center;
        margin-top: 17px;
        border-radius: 10px;
        cursor: not-allowed;
        user-select: none;
        box-shadow: 0 2px 4px var(--card-shadow);
        background-color: var(--card-background);
    }
        .export-message p {
            font-size: 16px;
            animation: shake 0.5s;
            padding: 10px;
            border-radius: 5px;
    }
